<mat-toolbar color="primary" class="expanded-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <button mat-button routerLink="/">angular-material</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon>home</button>
    <button mat-button routerLink="/car"><mat-icon>commute</mat-icon>cars</button><br />
    <button mat-button routerLink="/car-dialog"><mat-icon>commute</mat-icon>cars-dialog</button><br />
    <button mat-button routerLink="/periodic">periodic</button><br />
    <button mat-button routerLink="/fighters">fighters</button><br />
    <button mat-button routerLink="/posts">posts</button><br />
    <button mat-button routerLink="/issue">issue</button><br />
    <button mat-button routerLink="/about"><mat-icon>info</mat-icon>about</button>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav color="primary" #sidenav mode="side" opened="false">
    <button mat-button routerLink="/">Home</button><br />
    <button mat-button routerLink="/car-dialog">Cars</button><br />
    <button mat-button routerLink="/about">About</button><br />
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
