<mat-toolbar color="primary" class="expanded-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <button mat-button routerLink="/">angular-material</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon>Home</button>
    <button mat-button routerLink="/cars">Cars</button><br />
    <button mat-button routerLink="/posts"><mat-icon>post_add</mat-icon>Posts</button>
    <button mat-button routerLink="/about"><mat-icon>info</mat-icon>About</button>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav color="primary" #sidenav mode="side" opened="false">
    <button mat-button routerLink="/">Home</button><br />
    <button mat-button routerLink="/cars">Cars</button><br />
    <button mat-button routerLink="/posts">Posts</button><br />
    <button mat-button routerLink="/about">About</button><br />
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
