<table>
    <thead>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
    </thead>
    <tbody>
      <tr *ngFor="let fighter of fighters">
        <td>{{fighter.name}}</td>
        <td>{{fighter.wins}}</td>
        <td>{{fighter.losses}}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary btn-sm" (click)="add()">Add</button>
  <button class="btn btn-primary btn-sm" (click)="update()">Update</button>
  <button class="btn btn-primary btn-sm" (click)="delete()">Delete</button>