<div class="container mat-elevation-z8">

  <!-- SEARCH -->
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Search...">
    </mat-form-field>
  </div>

  <!-- TABLE -->
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!-- NODE_ID-->
    <ng-container matColumnDef="node_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>node_id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.node_id}}</mat-cell>
    </ng-container>

    <!-- SHA-->
    <ng-container matColumnDef="sha">
      <mat-header-cell *matHeaderCellDef mat-sort-header>sha</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sha}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="add()">
          <mat-icon aria-label="add">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="edit(i, row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="delete(i, row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- ROWS-->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- NO RESULTS -->
  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <!-- PAGINATOR -->
  <mat-paginator #paginator length="dataSource.filteredData.length" pageIndex="0" pageSize="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>