<!-- fxLayout - układ layoutu (row | column | row-reverse | column-reverse) -->
<!-- <div fxLayout='column'>
    <div fxFlex>1.{{text}}</div>
    <div fxFlex fxLayout='row'>
        <div fxFlex="20%">2.{{text}}</div>
        <div fxFlex="60%">3.{{text}}</div>
        <div fxFlex="20%">4.{{text}}</div>
    </div>
    <div fxFlex>5.{{text}}</div>
</div> -->

<!-- fxLayoutAlign - wyrównanie  (start | center | end | space-around | space-between | space-evenly) -->
<!-- <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10%">1. One</div>
    <div fxFlex="10%">2. Two</div>
    <div fxFlex="10%">3. Three</div>
</div> -->

<!-- fxLayoutGap - przerwa pomiędzy kontenerami (% | px | vw | vh)  -->
<!-- <div fxLayout="row" fxLayoutGap="20px">
    <div>1. One</div>
    <div>2. Two</div>
    <div>3. Three</div>
</div> -->

<div fxLayout="row" gdAlignColumns="center center">
    <div>1. One</div>
    <div>2. Two</div>
    <div>3. Three</div>
</div>