<div *ngIf="!isEdit" class="post-container">
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
              Posts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngIf="isSelected()">Id: {{currentItem.id}}</p>
        <p *ngIf="isSelected()">Title: {{currentItem.title}}</p>
        <p *ngIf="isSelected()">Description: {{currentItem.description}}</p>
        <button mat-raised-button color="primary" (click)="onEdit()" *ngIf="isSelected()">Edit</button>
        <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="isSelected()">Delete</button>
        <button mat-raised-button color="primary" (click)="onCancel()" *ngIf="isSelected()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onAdd()" *ngIf="!isSelected()">New Post</button>
      </mat-expansion-panel>
  </div>
  
  <div *ngIf="isEdit" class="form-container">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Posts
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="formGroup" (ngSubmit)="onUpdate()">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Image" formControlName="image">
        </mat-form-field>
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
      </form>
    </mat-expansion-panel>
  </div>
  
  <mat-form-field class="input-filter">
    <input matInput (keyup)="onFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table matSort mat-table [dataSource]="posts" class="mat-elevation-z3" (matSortChange)="onSort($event)">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id">Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="title">Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="description">Text</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="image">Image</th>
      <td mat-cell *matCellDef="let element"> {{element.image}} </td>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef>Text</th>
      <td mat-cell *matCellDef="let element"><a (click)="onSelect(element.id)"><button mat-button>Update</button></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id','title','description','image']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','title','description','image','buttons'];"></tr>
  </table>