@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{margin: 0;font-family: sans-serif;}
h1{margin: 20px;}

/* nav */
.mat-toolbar .mat-icon {margin-right:5px;}
.mat-drawer-container {min-height: 500px; height:auto !important; height: 500px; }
.mat-drawer-container .mat-button {margin-left: 10px; margin-right: 10px;}
