@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{margin: 0;font-family: sans-serif;}
h1{margin: 20px;}

.expanded-toolbar {justify-content: space-between;align-items: center;}
.mat-grid-tile{border:1px solid silver!important;}